Task 3:

In [1]:
import numpy as pd
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [2]:
df=pd.read_csv('Bondora_raw.csv')

# TASK 1- DATA PREPROCESSING

In [3]:
len(df.columns)

112

In [4]:
df.columns

Index(['ReportAsOfEOD', 'LoanId', 'LoanNumber', 'ListedOnUTC',
       'BiddingStartedOn', 'BidsPortfolioManager', 'BidsApi', 'BidsManual',
       'UserName', 'NewCreditCustomer',
       ...
       'PreviousEarlyRepaymentsCountBeforeLoan', 'GracePeriodStart',
       'GracePeriodEnd', 'NextPaymentDate', 'NextPaymentNr',
       'NrOfScheduledPayments', 'ReScheduledOn', 'PrincipalDebtServicingCost',
       'InterestAndPenaltyDebtServicingCost', 'ActiveLateLastPaymentCategory'],
      dtype='object', length=112)

In [5]:
df.index

RangeIndex(start=0, stop=134529, step=1)

In [6]:
df.head()

,ReportAsOfEOD,LoanId,LoanNumber,ListedOnUTC,BiddingStartedOn,BidsPortfolioManager,BidsApi,BidsManual,UserName,NewCreditCustomer,...,PreviousEarlyRepaymentsCountBeforeLoan,GracePeriodStart,GracePeriodEnd,NextPaymentDate,NextPaymentNr,NrOfScheduledPayments,ReScheduledOn,PrincipalDebtServicingCost,InterestAndPenaltyDebtServicingCost,ActiveLateLastPaymentCategory
0,2020-01-27,F0660C80-83F3-4A97-8DA0-9C250112D6EC,659,2009-06-11 16:40:39,2009-06-11 16:40:39,0,0,115.0410,KARU,True,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
1,2020-01-27,978BB85B-1C69-4D51-8447-9C240104A3A2,654,2009-06-10 15:48:57,2009-06-10 15:48:57,0,0,140.6057,koort681,False,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
2,2020-01-27,EA44027E-7FA7-4BB2-846D-9C1F013C8A22,641,2009-06-05 19:12:29,2009-06-05 19:12:29,0,0,319.5580,0ie,True,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,180+
3,2020-01-27,CE67AD25-2951-4BEE-96BD-9C2700C61EF4,668,2009-06-13 12:01:20,2009-06-13 12:01:20,0,0,57.5205,Alyona,True,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
4,2020-01-27,9408BF8C-B159-4D6A-9D61-9C2400A986E3,652,2009-06-10 10:17:13,2009-06-10 10:17:13,0,0,319.5582,Kai,True,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,180+

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134529 entries, 0 to 134528
Columns: 112 entries, ReportAsOfEOD to ActiveLateLastPaymentCategory
dtypes: bool(3), float64(56), int64(14), object(39)
memory usage: 112.3+ MB

In [8]:
# To show all the rows of pandas dataframe
pd.set_option('display.max_rows', 500)
df.isnull().sum()

ReportAsOfEOD                                  0
LoanId                                         0
LoanNumber                                     0
ListedOnUTC                                    0
BiddingStartedOn                               0
BidsPortfolioManager                           0
BidsApi                                        0
BidsManual                                     0
UserName                                       0
NewCreditCustomer                              0
LoanApplicationStartedDate                     0
LoanDate                                       0
ContractEndDate                            75546
FirstPaymentDate                               0
MaturityDate_Original                          0
MaturityDate_Last                              0
ApplicationSignedHour                          0
ApplicationSignedWeekday                       0
VerificationType                              45
LanguageCode                                   0
Age                                            0
DateOfBirth                                    0
Gender                                        45
Country                                        0
AppliedAmount                                  0
Amount                                         0
Interest                                       0
LoanDuration                                   0
MonthlyPayment                              6685
County                                     36840
City                                        9794
UseOfLoan                                      0
Education                                     45
MaritalStatus                                 45
NrOfDependants                             98929
EmploymentStatus                             197
EmploymentDurationCurrentEmployer            876
EmploymentPosition                         98439
WorkExperience                             98007
OccupationArea                                86
HomeOwnershipType                           1652
IncomeFromPrincipalEmployer                    0
IncomeFromPension                              0
IncomeFromFamilyAllowance                      0
IncomeFromSocialWelfare                        0
IncomeFromLeavePay                             0
IncomeFromChildSupport                         0
IncomeOther                                    0
IncomeTotal                                    0
ExistingLiabilities                            0
LiabilitiesTotal                               0
RefinanceLiabilities                           0
DebtToIncome                                  45
FreeCash                                      45
MonthlyPaymentDay                              0
ActiveScheduleFirstPaymentReached              0
PlannedPrincipalTillDate                   80070
PlannedInterestTillDate                     3942
LastPaymentOn                               9531
CurrentDebtDaysPrimary                     86011
DebtOccuredOn                              86011
CurrentDebtDaysSecondary                   82279
DebtOccuredOnForSecondary                  82279
ExpectedLoss                                2636
LossGivenDefault                            2636
ExpectedReturn                              2636
ProbabilityOfDefault                        2636
DefaultDate                                91614
PrincipalOverdueBySchedule                 14837
PlannedPrincipalPostDefault                91614
PlannedInterestPostDefault                 91614
EAD1                                       91614
EAD2                                       91614
PrincipalRecovery                          91614
InterestRecovery                           91614
RecoveryStage                              57288
StageActiveSince                           53575
ModelVersion                                2636
Rating                                      2730
EL_V0                                     129960
Rating_V0                                 129960
EL_V1                                     121607
Rating_V1                                 121607
Rating_V2                                 109386
Status                                         0
Restructured                                   0
ActiveLateCategory                         86011
WorseLateCategory                          45456
CreditScoreEsMicroL                        29574
CreditScoreEsEquifaxRisk                  122310
CreditScoreFiAsiakasTietoRiskGrade        102011
CreditScoreEeMini                          62807
PrincipalPaymentsMade                          0
InterestAndPenaltyPaymentsMade                 0
PrincipalWriteOffs                         75400
InterestAndPenaltyWriteOffs                75400
PrincipalBalance                               0
InterestAndPenaltyBalance                      0
NoOfPreviousLoansBeforeLoan                    0
AmountOfPreviousLoansBeforeLoan                0
PreviousRepaymentsBeforeLoan               43161
PreviousEarlyRepaymentsBefoleLoan          76503
PreviousEarlyRepaymentsCountBeforeLoan         0
GracePeriodStart                          115741
GracePeriodEnd                            115741
NextPaymentDate                            68885
NextPaymentNr                              36741
NrOfScheduledPayments                      36741
ReScheduledOn                              94207
PrincipalDebtServicingCost                 75400
InterestAndPenaltyDebtServicingCost        75400
ActiveLateLastPaymentCategory              82279
dtype: int64

In [9]:
# removing the columns having more than 40% missing values
def percent_null(df):
    percent_null=df.isnull().sum()/len(df)*100
    percent_null=percent_null[percent_null>40]
    return percent_null

In [10]:
null_remove=percent_null(df)

In [11]:
len(null_remove)

36

In [12]:
null_remove.index

Index(['ContractEndDate', 'NrOfDependants', 'EmploymentPosition',
       'WorkExperience', 'PlannedPrincipalTillDate', 'CurrentDebtDaysPrimary',
       'DebtOccuredOn', 'CurrentDebtDaysSecondary',
       'DebtOccuredOnForSecondary', 'DefaultDate',
       'PlannedPrincipalPostDefault', 'PlannedInterestPostDefault', 'EAD1',
       'EAD2', 'PrincipalRecovery', 'InterestRecovery', 'RecoveryStage',
       'EL_V0', 'Rating_V0', 'EL_V1', 'Rating_V1', 'Rating_V2',
       'ActiveLateCategory', 'CreditScoreEsEquifaxRisk',
       'CreditScoreFiAsiakasTietoRiskGrade', 'CreditScoreEeMini',
       'PrincipalWriteOffs', 'InterestAndPenaltyWriteOffs',
       'PreviousEarlyRepaymentsBefoleLoan', 'GracePeriodStart',
       'GracePeriodEnd', 'NextPaymentDate', 'ReScheduledOn',
       'PrincipalDebtServicingCost', 'InterestAndPenaltyDebtServicingCost',
       'ActiveLateLastPaymentCategory'],
      dtype='object')

In [13]:
# print missing values columns
miss_cols=['ContractEndDate', 'NrOfDependants', 'EmploymentPosition',
       'WorkExperience', 'PlannedPrincipalTillDate', 'CurrentDebtDaysPrimary',
       'DebtOccuredOn', 'CurrentDebtDaysSecondary',
       'DebtOccuredOnForSecondary',
       'PlannedPrincipalPostDefault', 'PlannedInterestPostDefault', 'EAD1',
       'EAD2', 'PrincipalRecovery', 'InterestRecovery', 'RecoveryStage',
       'EL_V0', 'Rating_V0', 'EL_V1', 'Rating_V1', 'Rating_V2',
       'ActiveLateCategory', 'CreditScoreEsEquifaxRisk',
       'CreditScoreFiAsiakasTietoRiskGrade', 'CreditScoreEeMini',
       'PrincipalWriteOffs', 'InterestAndPenaltyWriteOffs',
       'PreviousEarlyRepaymentsBefoleLoan', 'GracePeriodStart',
       'GracePeriodEnd', 'NextPaymentDate', 'ReScheduledOn',
       'PrincipalDebtServicingCost', 'InterestAndPenaltyDebtServicingCost',
       'ActiveLateLastPaymentCategory']

In [14]:
len(miss_cols)

35

In [15]:
df=df.drop(miss_cols,axis=1)

In [16]:
df.shape

(134529, 77)

In [17]:
cols_del = ['ReportAsOfEOD', 'LoanId', 'LoanNumber', 'ListedOnUTC', 'DateOfBirth',
       'BiddingStartedOn','UserName','NextPaymentNr','NrOfScheduledPayments','IncomeFromPrincipalEmployer',
        'IncomeFromPension','IncomeFromFamilyAllowance', 'IncomeFromSocialWelfare','IncomeFromLeavePay',
        'IncomeFromChildSupport', 'IncomeOther','LoanApplicationStartedDate','ApplicationSignedHour',
        'ApplicationSignedWeekday','ActiveScheduleFirstPaymentReached', 'PlannedInterestTillDate','ExpectedLoss',
        'LossGivenDefault', 'ExpectedReturn','ProbabilityOfDefault', 'PrincipalOverdueBySchedule',
       'StageActiveSince', 'ModelVersion','WorseLateCategory']

In [18]:
df=df.drop(cols_del,axis=1)

In [19]:
df.shape

(134529, 48)

### Creating Target Variable

In [20]:
#counts of each status categories
df['Status'].value_counts()

Status
Current    57135
Late       45772
Repaid     31622
Name: count, dtype: int64

In [21]:
df['Status'][df['Status']=='Current']

491       Current
523       Current
536       Current
541       Current
544       Current
           ...
134429    Current
134455    Current
134483    Current
134486    Current
134491    Current
Name: Status, Length: 57135, dtype: object

In [22]:
df['var']= df['DefaultDate'].isnull()

In [23]:
def target(var):
    if var==True:
        return 0
    else:
        return 1

In [24]:
df['target_var']=df['var'].apply(target)

In [25]:
df['target_var']

0         0
1         0
2         1
3         0
4         1
         ..
134524    1
134525    0
134526    1
134527    1
134528    1
Name: target_var, Length: 134529, dtype: int64

In [26]:
df['target_var'].value_counts()

target_var
0    91614
1    42915
Name: count, dtype: int64

In [27]:
drop_cols=['Status','DefaultDate','var']

In [28]:
df=df.drop(drop_cols,axis=1)

In [29]:
df.shape

(134529, 47)

## CHECKING FOR DATA TYPES

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134529 entries, 0 to 134528
Data columns (total 47 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   BidsPortfolioManager                    134529 non-null  int64
 1   BidsApi                                 134529 non-null  int64
 2   BidsManual                              134529 non-null  float64
 3   NewCreditCustomer                       134529 non-null  bool
 4   LoanDate                                134529 non-null  object
 5   FirstPaymentDate                        134529 non-null  object
 6   MaturityDate_Original                   134529 non-null  object
 7   MaturityDate_Last                       134529 non-null  object
 8   VerificationType                        134484 non-null  float64
 9   LanguageCode                            134529 non-null  int64
 10  Age                                     134529 non-null  int64
 11  Gender                                  134484 non-null  float64
 12  Country                                 134529 non-null  object
 13  AppliedAmount                           134529 non-null  float64
 14  Amount                                  134529 non-null  float64
 15  Interest                                134529 non-null  float64
 16  LoanDuration                            134529 non-null  int64
 17  MonthlyPayment                          127844 non-null  float64
 18  County                                  97689 non-null   object
 19  City                                    124735 non-null  object
 20  UseOfLoan                               134529 non-null  int64
 21  Education                               134484 non-null  float64
 22  MaritalStatus                           134484 non-null  float64
 23  EmploymentStatus                        134332 non-null  float64
 24  EmploymentDurationCurrentEmployer       133653 non-null  object
 25  OccupationArea                          134443 non-null  float64
 26  HomeOwnershipType                       132877 non-null  float64
 27  IncomeTotal                             134529 non-null  float64
 28  ExistingLiabilities                     134529 non-null  int64
 29  LiabilitiesTotal                        134529 non-null  float64
 30  RefinanceLiabilities                    134529 non-null  int64
 31  DebtToIncome                            134484 non-null  float64
 32  FreeCash                                134484 non-null  float64
 33  MonthlyPaymentDay                       134529 non-null  int64
 34  LastPaymentOn                           124998 non-null  object
 35  Rating                                  131799 non-null  object
 36  Restructured                            134529 non-null  bool
 37  CreditScoreEsMicroL                     104955 non-null  object
 38  PrincipalPaymentsMade                   134529 non-null  float64
 39  InterestAndPenaltyPaymentsMade          134529 non-null  float64
 40  PrincipalBalance                        134529 non-null  float64
 41  InterestAndPenaltyBalance               134529 non-null  float64
 42  NoOfPreviousLoansBeforeLoan             134529 non-null  int64
 43  AmountOfPreviousLoansBeforeLoan         134529 non-null  float64
 44  PreviousRepaymentsBeforeLoan            91368 non-null   float64
 45  PreviousEarlyRepaymentsCountBeforeLoan  134529 non-null  int64
 46  target_var                              134529 non-null  int64
dtypes: bool(2), float64(22), int64(12), object(11)
memory usage: 46.4+ MB

First we will delete all the features related to date as it is not a time series analysis so these features will not help in predicting target variable.

As we can see in numeric column distribution there are many columns which are present as numeric but they are actually categorical as per data description such as Verification Type, Language Code, Gender, Use of Loan, Education, Marital

Status,EmployementStatus, OccupationArea etc.
So we will convert these features to categorical features

In [31]:
#for date time data types
date_time = ['LoanDate', 'FirstPaymentDate', 'MaturityDate_Original',
       'MaturityDate_Last', 'LastPaymentOn']

In [32]:
df=df.drop(date_time,axis=1)

In [33]:
df_objs = df.select_dtypes(include='object')
df_objs.columns

Index(['Country', 'County', 'City', 'EmploymentDurationCurrentEmployer',
       'Rating', 'CreditScoreEsMicroL'],
      dtype='object')

In [34]:
df_nums = df.select_dtypes(exclude='object')
df_nums.columns

Index(['BidsPortfolioManager', 'BidsApi', 'BidsManual', 'NewCreditCustomer',
       'VerificationType', 'LanguageCode', 'Age', 'Gender', 'AppliedAmount',
       'Amount', 'Interest', 'LoanDuration', 'MonthlyPayment', 'UseOfLoan',
       'Education', 'MaritalStatus', 'EmploymentStatus', 'OccupationArea',
       'HomeOwnershipType', 'IncomeTotal', 'ExistingLiabilities',
       'LiabilitiesTotal', 'RefinanceLiabilities', 'DebtToIncome', 'FreeCash',
       'MonthlyPaymentDay', 'Restructured', 'PrincipalPaymentsMade',
       'InterestAndPenaltyPaymentsMade', 'PrincipalBalance',
       'InterestAndPenaltyBalance', 'NoOfPreviousLoansBeforeLoan',
       'AmountOfPreviousLoansBeforeLoan', 'PreviousRepaymentsBeforeLoan',
       'PreviousEarlyRepaymentsCountBeforeLoan', 'target_var'],
      dtype='object')

### checking for categorical values

In [35]:
# write your code here for VerificationType
df["VerificationType"].value_counts()

VerificationType
4.0    74572
1.0    48648
3.0     9428
2.0     1828
0.0        8
Name: count, dtype: int64

In [36]:
replace_VerificationType = {0:'Not Set',1:'Income unverified',2:'Income unverified, cross-referenced by phone',
                            3:'Income verified',4:'Income and expenses verified'}

In [37]:
df['VerificationType'] = df['VerificationType'].map(replace_VerificationType)

In [38]:
df["VerificationType"].value_counts()

VerificationType
Income and expenses verified                    74572
Income unverified                               48648
Income verified                                  9428
Income unverified, cross-referenced by phone     1828
Not Set                                             8
Name: count, dtype: int64

In [39]:
# write your code here Gender
df["Gender"].value_counts()

Gender
0.0    85650
1.0    38213
2.0    10621
Name: count, dtype: int64

In [40]:
replace_gender={0:'Male',1:'Women',2:'Undefined'  }

In [41]:
df['Gender'] = df['Gender'].map(replace_gender)

In [42]:
df["Gender"].value_counts()

Gender
Male         85650
Women        38213
Undefined    10621
Name: count, dtype: int64

In [43]:
df["LanguageCode"].value_counts()

LanguageCode
1     64299
4     32155
6     24103
3     12694
2       967
9       295
22        6
5         5
15        1
10        1
13        1
7         1
21        1
Name: count, dtype: int64

In [44]:
# write your code here
replace_languagecode = [None, 'Estonian', 'English', 'Russian', 'Finnish', 'German', 'Spanish', 7, 8, 'Slovakian']
for n, i in enumerate(replace_languagecode):
    df["LanguageCode"][df["LanguageCode"]==n] = i
df["LanguageCode"][~(df["LanguageCode"].str.isnumeric()==False)] = 'Other'
df["LanguageCode"].value_counts()

LanguageCode
Estonian     64299
Finnish      32155
Spanish      24103
Russian      12694
English        967
Slovakian      295
Other           11
German           5
Name: count, dtype: int64

In [45]:
df["UseOfLoan"].value_counts()

UseOfLoan
-1      97946
 7       9698
 2       9191
 0       6914
 6       3150
 3       1950
 5       1787
 8       1519
 4       1366
 1        955
 102       21
 110       17
 104        6
 101        5
 107        2
 108        1
 106        1
Name: count, dtype: int64

In [46]:
replace_UseOfLoan={-1:'Not set',0:'Loan consolidation',1:'Real estate',2:'Home improvement',3:'Business',4:'Education',
                   5:'Travel',6:'Vehicle',7:'Other',8:'Health',}

In [47]:
df['UseOfLoan'] = df['UseOfLoan'].map(replace_UseOfLoan)

In [48]:
df["UseOfLoan"].value_counts()

UseOfLoan
Not set               97946
Other                  9698
Home improvement       9191
Loan consolidation     6914
Vehicle                3150
Business               1950
Travel                 1787
Health                 1519
Education              1366
Real estate             955
Name: count, dtype: int64

In [49]:
df["Education"].value_counts()

Education
 4.0    51330
 5.0    35398
 3.0    29260
 1.0    12057
 2.0     6427
 0.0        8
-1.0        4
Name: count, dtype: int64

In [50]:
replace_Education={-1:'Not_present',1:'Primary education',2:'Basic education',3:'Vocational education',
                   4:'Secondary education',5:'Higher education',}

In [51]:
df['Education'] = df['Education'].map(replace_Education)

In [52]:
df["Education"].value_counts()

Education
Secondary education     51330
Higher education        35398
Vocational education    29260
Primary education       12057
Basic education          6427
Not_present                 4
Name: count, dtype: int64

In [53]:
# write your code here for MaritalStatus
df["MaritalStatus"].value_counts()

MaritalStatus
-1.0    97946
 3.0    12400
 1.0    10752
 2.0     9400
 4.0     3377
 5.0      601
 0.0        8
Name: count, dtype: int64

In [54]:
replace_MaritialStatus={-1:'Not_specified',1:'Married',2:'Cohabitant',3:'Single',4:'Divorced',5:'Widow'}

In [55]:
df['MaritalStatus'] = df['MaritalStatus'].map(replace_MaritialStatus)

In [56]:
df["MaritalStatus"].value_counts()

MaritalStatus
Not_specified    97946
Single           12400
Married          10752
Cohabitant        9400
Divorced          3377
Widow              601
Name: count, dtype: int64

In [57]:
# write your code here for EmploymentStatus
df["EmploymentStatus"].value_counts()

EmploymentStatus
-1.0    97946
 3.0    30060
 5.0     2007
 6.0     1800
 4.0     1303
 2.0     1184
 0.0       32
Name: count, dtype: int64

In [58]:
replace_EmploymentStatus={-1:'Not_specified',1:'Unemployed',2:'Partially employed',3:'Fully employed',4:'Self-employed',
                          5:'Entrepreneur',   5:'Retiree'}

In [59]:
df['EmploymentStatus'] = df['EmploymentStatus'].map(replace_EmploymentStatus)

In [60]:
df["EmploymentStatus"].value_counts()

EmploymentStatus
Not_specified         97946
Fully employed        30060
Retiree                2007
Self-employed          1303
Partially employed     1184
Name: count, dtype: int64

In [61]:
# write your code here for OccupationArea
df["OccupationArea"].value_counts()

OccupationArea
-1.0     97997
 1.0      8421
 7.0      3587
 6.0      3312
 3.0      3198
 8.0      2462
 17.0     2424
 9.0      2262
 10.0     1933
 15.0     1684
 16.0     1430
 11.0     1148
 19.0     1000
 14.0      843
 18.0      619
 4.0       587
 13.0      564
 12.0      477
 5.0       362
 2.0       122
 0.0        11
Name: count, dtype: int64

In [62]:
replace_OccupationArea={-1:'Not_specified',1:'Other',2:'Mining',3:'Processing',4:'Energy',5:'Utilities',6:'Construction',
                        7:'Retail and wholesale',8:'Transport and warehousing',9:'Hospitality and catering',
                        10:'Info and telecom', 11:'Finance and insurance',12:'Real-estate',13:'Research',14:'Administrative',
                        15:'Civil service & military',16:'Education',17:'Healthcare and social help',18:'Art and entertainment'
                        ,19:'Agriculture, forestry and fishing'  }

In [63]:
df['OccupationArea'] = df['OccupationArea'].map(replace_OccupationArea)

In [64]:
df["OccupationArea"].value_counts()

OccupationArea
Not_specified                        97997
Other                                 8421
Retail and wholesale                  3587
Construction                          3312
Processing                            3198
Transport and warehousing             2462
Healthcare and social help            2424
Hospitality and catering              2262
Info and telecom                      1933
Civil service & military              1684
Education                             1430
Finance and insurance                 1148
Agriculture, forestry and fishing     1000
Administrative                         843
Art and entertainment                  619
Energy                                 587
Research                               564
Real-estate                            477
Utilities                              362
Mining                                 122
Name: count, dtype: int64

In [65]:
# write your code here for counts of HomeOwnershipType
df["HomeOwnershipType"].value_counts()

HomeOwnershipType
 1.0     47334
 3.0     29579
 2.0     20780
 8.0     15457
 10.0     7956
 4.0      4582
 7.0      3337
 6.0      1618
 5.0      1442
 9.0       743
 0.0        46
-1.0         3
Name: count, dtype: int64

In [66]:
replace_HomeOwnershipType={-1:'Not_specified',0:'Homeless',1:'Owner',2:'Living with parents',3:'Tenant, pre-furnished property',
                           4:'Tenant, unfurnished property',5:'Council house',6:'Joint tenant',7:'Joint ownership',8:'Mortgage',
                           9:'Owner with encumbrance',10:'Other',}6

In [67]:
df['HomeOwnershipType'] = df['HomeOwnershipType'].map(replace_HomeOwnershipType)

In [68]:
df["HomeOwnershipType"].value_counts()

HomeOwnershipType
Owner                             47334
Tenant, pre-furnished property    29579
Living with parents               20780
Mortgage                          15457
Other                              7956
Tenant, unfurnished property       4582
Joint ownership                    3337
Joint tenant                       1618
Council house                      1442
Owner with encumbrance              743
Homeless                             46
Not_specified                         3
Name: count, dtype: int64

In [69]:
# save the final data
df.to_csv('Bondora_preprocessed.csv',index=False)

In [70]:
df = pd.read_csv('Bondora_raw.csv')
print(df.head())
print(df.info())
print(df.describe())
missing_values = df.isnull().sum()
print(missing_values)
df.fillna(df.mean(), inplace=True)

  ReportAsOfEOD                                LoanId  LoanNumber  \
0    2020-01-27  F0660C80-83F3-4A97-8DA0-9C250112D6EC         659
1    2020-01-27  978BB85B-1C69-4D51-8447-9C240104A3A2         654
2    2020-01-27  EA44027E-7FA7-4BB2-846D-9C1F013C8A22         641
3    2020-01-27  CE67AD25-2951-4BEE-96BD-9C2700C61EF4         668
4    2020-01-27  9408BF8C-B159-4D6A-9D61-9C2400A986E3         652

           ListedOnUTC     BiddingStartedOn  BidsPortfolioManager  BidsApi  \
0  2009-06-11 16:40:39  2009-06-11 16:40:39                     0        0
1  2009-06-10 15:48:57  2009-06-10 15:48:57                     0        0
2  2009-06-05 19:12:29  2009-06-05 19:12:29                     0        0
3  2009-06-13 12:01:20  2009-06-13 12:01:20                     0        0
4  2009-06-10 10:17:13  2009-06-10 10:17:13                     0        0

   BidsManual  UserName  NewCreditCustomer  ...  \
0    115.0410      KARU               True  ...
1    140.6057  koort681              False  ...
2    319.5580       0ie               True  ...
3     57.5205    Alyona               True  ...
4    319.5582       Kai               True  ...

  PreviousEarlyRepaymentsCountBeforeLoan GracePeriodStart GracePeriodEnd  \
0                                      0              NaN            NaN
1                                      0              NaN            NaN
2                                      0              NaN            NaN
3                                      0              NaN            NaN
4                                      0              NaN            NaN

  NextPaymentDate NextPaymentNr NrOfScheduledPayments  ReScheduledOn  \
0             NaN           NaN                   NaN            NaN
1             NaN           NaN                   NaN            NaN
2             NaN           NaN                   NaN            NaN
3             NaN           NaN                   NaN            NaN
4             NaN           NaN                   NaN            NaN

   PrincipalDebtServicingCost  InterestAndPenaltyDebtServicingCost  \
0                         0.0                                  0.0
1                         0.0                                  0.0
2                         0.0                                  0.0
3                         0.0                                  0.0
4                         0.0                                  0.0

   ActiveLateLastPaymentCategory
0                            NaN
1                            NaN
2                           180+
3                            NaN
4                           180+

[5 rows x 112 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134529 entries, 0 to 134528
Columns: 112 entries, ReportAsOfEOD to ActiveLateLastPaymentCategory
dtypes: bool(3), float64(56), int64(14), object(39)
memory usage: 112.3+ MB
None
         LoanNumber  BidsPortfolioManager        BidsApi     BidsManual  \
count  1.345290e+05         134529.000000  134529.000000  134529.000000
mean   9.449392e+05            966.452876      29.111664     559.332590
std    4.786738e+05           1355.686016     150.159148     750.360512
min    3.700000e+01              0.000000       0.000000       0.000000
25%    6.206790e+05            155.000000       0.000000      96.000000
50%    9.235970e+05            465.000000       0.000000     317.000000
75%    1.311025e+06           1218.000000       5.000000     729.000000
max    1.855339e+06          10625.000000    7570.000000   10630.000000

       ApplicationSignedHour  ApplicationSignedWeekday  VerificationType  \
count          134529.000000             134529.000000     134484.000000
mean               13.374640                  3.907908          2.817257
std                 4.992375                  1.726192          1.407908
min                 0.000000                  1.000000          0.000000
25%                10.000000                  2.000000          1.000000
50%                13.000000                  4.000000          4.000000
75%                17.000000                  5.000000          4.000000
max                23.000000                  7.000000          4.000000

        LanguageCode            Age         Gender  ...  \
count  134529.000000  134529.000000  134484.000000  ...
mean        2.827874      40.819295       0.442097  ...
std         1.959802      12.348693       0.636083  ...
min         1.000000       0.000000       0.000000  ...
25%         1.000000      31.000000       0.000000  ...
50%         3.000000      40.000000       0.000000  ...
75%         4.000000      50.000000       1.000000  ...
max        22.000000      77.000000       2.000000  ...

       InterestAndPenaltyBalance  NoOfPreviousLoansBeforeLoan  \
count              134529.000000                134529.000000
mean                  701.567107                     1.487620
std                  2514.595572                     2.396148
min                    -2.660000                     0.000000
25%                     0.000000                     0.000000
50%                     0.000000                     1.000000
75%                   202.900000                     2.000000
max                 64494.770000                    25.000000

       AmountOfPreviousLoansBeforeLoan  PreviousRepaymentsBeforeLoan  \
count                    134529.000000                  91368.000000
mean                       2868.652401                    928.395548
std                        4507.046575                   2042.348751
min                           0.000000                      0.000000
25%                           0.000000                      0.000000
50%                         396.354100                    197.980000
75%                        4250.000000                    780.950000
max                       53762.000000                  34077.420000

       PreviousEarlyRepaymentsBefoleLoan  \
count                       58026.000000
mean                          320.743805
std                          1561.799076
min                             0.000000
25%                             0.000000
50%                             0.000000
75%                             0.000000
max                         48100.000000

       PreviousEarlyRepaymentsCountBeforeLoan  NextPaymentNr  \
count                           134529.000000   97788.000000
mean                                 0.069903       5.178795
std                                  0.359461       7.674427
min                                  0.000000       0.000000
25%                                  0.000000       0.000000
50%                                  0.000000       3.000000
75%                                  0.000000       7.000000
max                                 11.000000      60.000000

       NrOfScheduledPayments  PrincipalDebtServicingCost  \
count           97788.000000                59129.000000
mean               50.126795                    5.264702
std                12.519530                   57.800582
min                 1.000000                    0.000000
25%                36.000000                    0.000000
50%                60.000000                    0.000000
75%                60.000000                    0.000000
max                72.000000                 3325.330000

       InterestAndPenaltyDebtServicingCost
count                         59129.000000
mean                             89.851455
std                             287.449052
min                               0.000000
25%                               0.000000
50%                               0.000000
75%                              17.330000
max                            5295.290000

[8 rows x 70 columns]
ReportAsOfEOD                                  0
LoanId                                         0
LoanNumber                                     0
ListedOnUTC                                    0
BiddingStartedOn                               0
BidsPortfolioManager                           0
BidsApi                                        0
BidsManual                                     0
UserName                                       0
NewCreditCustomer                              0
LoanApplicationStartedDate                     0
LoanDate                                       0
ContractEndDate                            75546
FirstPaymentDate                               0
MaturityDate_Original                          0
MaturityDate_Last                              0
ApplicationSignedHour                          0
ApplicationSignedWeekday                       0
VerificationType                              45
LanguageCode                                   0
Age                                            0
DateOfBirth                                    0
Gender                                        45
Country                                        0
AppliedAmount                                  0
Amount                                         0
Interest                                       0
LoanDuration                                   0
MonthlyPayment                              6685
County                                     36840
City                                        9794
UseOfLoan                                      0
Education                                     45
MaritalStatus                                 45
NrOfDependants                             98929
EmploymentStatus                             197
EmploymentDurationCurrentEmployer            876
EmploymentPosition                         98439
WorkExperience                             98007
OccupationArea                                86
HomeOwnershipType                           1652
IncomeFromPrincipalEmployer                    0
IncomeFromPension                              0
IncomeFromFamilyAllowance                      0
IncomeFromSocialWelfare                        0
IncomeFromLeavePay                             0
IncomeFromChildSupport                         0
IncomeOther                                    0
IncomeTotal                                    0
ExistingLiabilities                            0
LiabilitiesTotal                               0
RefinanceLiabilities                           0
DebtToIncome                                  45
FreeCash                                      45
MonthlyPaymentDay                              0
ActiveScheduleFirstPaymentReached              0
PlannedPrincipalTillDate                   80070
PlannedInterestTillDate                     3942
LastPaymentOn                               9531
CurrentDebtDaysPrimary                     86011
DebtOccuredOn                              86011
CurrentDebtDaysSecondary                   82279
DebtOccuredOnForSecondary                  82279
ExpectedLoss                                2636
LossGivenDefault                            2636
ExpectedReturn                              2636
ProbabilityOfDefault                        2636
DefaultDate                                91614
PrincipalOverdueBySchedule                 14837
PlannedPrincipalPostDefault                91614
PlannedInterestPostDefault                 91614
EAD1                                       91614
EAD2                                       91614
PrincipalRecovery                          91614
InterestRecovery                           91614
RecoveryStage                              57288
StageActiveSince                           53575
ModelVersion                                2636
Rating                                      2730
EL_V0                                     129960
Rating_V0                                 129960
EL_V1                                     121607
Rating_V1                                 121607
Rating_V2                                 109386
Status                                         0
Restructured                                   0
ActiveLateCategory                         86011
WorseLateCategory                          45456
CreditScoreEsMicroL                        29574
CreditScoreEsEquifaxRisk                  122310
CreditScoreFiAsiakasTietoRiskGrade        102011
CreditScoreEeMini                          62807
PrincipalPaymentsMade                          0
InterestAndPenaltyPaymentsMade                 0
PrincipalWriteOffs                         75400
InterestAndPenaltyWriteOffs                75400
PrincipalBalance                               0
InterestAndPenaltyBalance                      0
NoOfPreviousLoansBeforeLoan                    0
AmountOfPreviousLoansBeforeLoan                0
PreviousRepaymentsBeforeLoan               43161
PreviousEarlyRepaymentsBefoleLoan          76503
PreviousEarlyRepaymentsCountBeforeLoan         0
GracePeriodStart                          115741
GracePeriodEnd                            115741
NextPaymentDate                            68885
NextPaymentNr                              36741
NrOfScheduledPayments                      36741
ReScheduledOn                              94207
PrincipalDebtServicingCost                 75400
InterestAndPenaltyDebtServicingCost        75400
ActiveLateLastPaymentCategory              82279
dtype: int64

In [ ]:
numerical_features = df.select_dtypes(include=['float64', 'int64']).columns

for feature in numerical_features:
    plt.figure(figsize=(10, 6))
    sns.histplot(df[feature], kde=True, bins=30)
    plt.title(f'Distribution of {feature}')
    plt.show()
for feature in numerical_features:
    plt.figure(figsize=(10, 6))
    sns.boxplot(x=df[feature])
    plt.title(f'Boxplot of {feature}')
    plt.show()

In [ ]:
sns.pairplot(df[numerical_features])
plt.show()
plt.figure(figsize=(12, 8))
correlation_matrix = df[numerical_features].corr()
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm')
plt.title('Correlation Matrix')
plt.show()
plt.figure(figsize=(10, 6))
sns.scatterplot(x=df['feature_1'], y=df['feature_2'])
plt.title('Relationship between Feature_1 and Feature_2')
plt.show()

In [ ]:
sns.pairplot(df[numerical_features])
plt.show()
plt.figure(figsize=(12, 8))
correlation_matrix = df[numerical_features].corr()
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm')
plt.title('Correlation Matrix')
plt.show()
plt.figure(figsize=(10, 6))
sns.scatterplot(x=df['feature_1'], y=df['feature_2'])
plt.title('Relationship between Feature_1 and Feature_2')
plt.show()